html, body{
    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:transparent;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

#aone{
    width: 500px;
    height: 340px;
    transform-origin:center bottom;
    user-select:none;
    pointer-events:none;
}

#bubble{
  position: absolute;

  /* あおねの右上に調整 */
  left: 900px;
  top: 270px;

  background:rgb(61, 255, 206);
  border-radius:20px;
  padding:15px;
  width:max-content;
  max-width:300px;
  font-size:20px;
}

